## Python
*.log
*.pot
*.pyc
*.ipynb
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# egg
*.egg-info/
.installed.cfg
*.egg

# dotenv
.env
.env.*

# Tests
tests/temp/*

# virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Ignore specific file types in sequenceviewer/upload
SequenceViewer/app/uploads/*.fasta
SequenceViewer/app/uploads/*.fastq
SequenceViewer/app/uploads/*.gb

# mac
.DS_Store